<a href="https://colab.research.google.com/github/ignaciosoto04/Projects/blob/main/Credit_Score_Classification_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [87]:
import numpy as np
import pandas as pd

Read the data

In [88]:
credit_info = pd.read_csv('CreditInformation.csv')
credit_info.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529544,High_spent_Small_value_payments,312.4940887,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.2802216,Low_spent_Large_value_payments,284.6291625,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.69952126,Low_spent_Medium_value_payments,331.2098629,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580744,Low_spent_Small_value_payments,223.4513097,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.42015309,High_spent_Medium_value_payments,341.489231,Good

Check columns

In [89]:
credit_info.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

Delete unnecesary columns

In [90]:
credit_info.drop(columns=['Name', 'SSN'], inplace = True)

Set ID as index

In [91]:
credit_info.set_index('ID', inplace = True)

Concise summary of the dataframe

In [92]:
credit_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0x1602 to 0x25fed
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Month                     100000 non-null  object
 2   Age                       100000 non-null  object
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  object
 5   Monthly_Inhand_Salary     84998 non-null   float64
 6   Num_Bank_Accounts         100000 non-null  int64
 7   Num_Credit_Card           100000 non-null  int64
 8   Interest_Rate             100000 non-null  int64
 9   Num_of_Loan               100000 non-null  object
 10  Type_of_Loan              88592 non-null   object
 11  Delay_from_due_date       100000 non-null  int64
 12  Num_of_Delayed_Payment    92998 non-null   object
 13  Changed_Credit_Limit      100000 non-null  object
 14  Num_Credit_Inquiries      98035 non-null   float64
 15  Credit_Mix                100000 non-null  object
 16  Outstanding_Debt          100000 non-null  object
 17  Credit_Utilization_Ratio  100000 non-null  float64
 18  Credit_History_Age        90970 non-null   object
 19  Payment_of_Min_Amount     100000 non-null  object
 20  Total_EMI_per_month       100000 non-null  float64
 21  Amount_invested_monthly   95521 non-null   object
 22  Payment_Behaviour         100000 non-null  object
 23  Monthly_Balance           98800 non-null   object
 24  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(17)
memory usage: 19.8+ MB

Unique values

In [93]:
for i in credit_info:
  print({i})
  print(credit_info[i].unique())
  print()

{'Customer_ID'}
['CUS_0xd40' 'CUS_0x21b1' 'CUS_0x2dbc' ... 'CUS_0xaf61' 'CUS_0x8600'
 'CUS_0x942c']

{'Month'}
['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']

{'Age'}
['23' '-500' '28_' ... '4808_' '2263' '1342']

{'Occupation'}
['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Developer'
 'Lawyer' 'Media_Manager' 'Doctor' 'Journalist' 'Manager' 'Accountant'
 'Musician' 'Mechanic' 'Writer' 'Architect']

{'Annual_Income'}
['19114.12' '34847.84' '34847.84_' ... '20002.88' '39628.99' '39628.99_']

{'Monthly_Inhand_Salary'}
[1824.843333         nan 3037.986667 ... 3097.008333 1929.906667
 3359.415833]

{'Num_Bank_Accounts'}
[   3    2    1    7    4    0    8    5    6    9   10 1414 1231   67
  572 1488   91  528 1647 1696 1338  649  889 1668  685  857  975 1496
 1534 1620   37 1388 1429 1332 1588  120 1777 1096  803  494  744 1139
  831 1613  741  121  665 1748 1644  823 1356 1651   87  711  450  210
 1671 1722  648  672 1662 1495  510  666  429 1131 1434  980 1026  526
  718 1300 1312 1315  501 1566  480 1042  322  628 1016  333 1265  791
  427  563  905 1190 1036 1611   38  619  555 1769  280  752 1201  812
 1487  222  212 1019 1222  610 1714 1308  525 1158 1115 1616  754 1601
  797 1577  521  703  933  959  809 1089 1656 1113 1715  964 1533 1789
  871  434 1295  565 1724  603  677  541  698 1101  464 1539 1462 1011
 1257 1727   45  244 1266  897  535  484  331  675  826  946 1675  105
 1327  845  549  473  710  527  908   68 1628  371  445 1168  868  687
  455 1003   26 1526  618  598  351 1342 1783  683 1557 1335  416 1747
  137 1475  373  338  942  170  973 1605 1478  386 1448 1033 1225  596
 1731 1214 1481 1105  580  347  108  148 1001 1467 1114 1000  632  246
 1032 1394  689  482 1303  720  574  588 1358  650  708  179  844 1140
  335   60  732 1494 1436  820   28 1576  818  794  731  534  556  691
 1197 1155 1255 1763  769 1124  819  318 1418  882   61  264  194 1798
  611  840  505 1110  719 1065  195  584  550 1014 1022  903  976   31
  417 1423 1148  616  786 1424   55 1061 1293  342   43 1540  488 1122
 1274 1075  722 1268   41  814 1564 1390 1141  497  224 1135  441  374
   74  314 1408  475 1015  681 1236   59 1425 1637 1240  299 1657 1123
 1091 1264 1561 1632 1562  305 1318 1217 1699 1070  864 1391  112  860
  595  229 1624 1051  821 1794 1565  397 1368 1353  508 1725 1413 1239
  847 1317  570   -1  302  456  198  122  832  167 1547 1666 1241  275
  566 1779  201  334 1169  834 1174 1040  530 1676 1468 1093  706  489
 1592  688  830 1784 1543 1600 1178  228  483 1501  950  548  870 1211
  604  804  129  540 1702 1636 1680 1443 1252  499  180  702  885 1652
  795  938  833 1654 1793  303 1621 1516 1138   32  160 1491   83  423
  928  339  931  243 1756  583 1695  274  955  430 1247  490  726  987
   42 1626 1470 1739  887  211  385 1221  753  324  406 1677 1567  785
  182 1079  184 1771 1048 1069  561  589 1634   70 1371  647 1153  239
  801 1279 1287  425 1589  929 1511 1765 1047 1005 1337  981 1766  805
 1574 1638  186   99  288 1650  974  996 1595 1594  865  203 1440  448
  285   94  875  916 1733  240  330   79   82  135 1043  142 1235 1569
 1741 1461  560 1551  409  418 1017  892  354  124  935  313 1363  232
 1200 1184 1432 1479 1407 1080 1719 1024  970  761  158  312 1060  684
  696 1520 1352 1502  936  485  350 1560 1166 1013   34 1691  715 1570
 1751 1503 1194 1558  411  298  260  308  796 1442  912 1256  746  435
  620 1774 1181 1323  837  307 1430   53 1447  259  921  328 1034  353
  822  654  829  609  166  136  172 1306 1028  808  270 1072  514  156
 1331 1630  462 1310 1210  265   50 1355  394 1393  226  991  368 1018
 1037  627 1744  523  894  944 1730 1076 1094 1617  449  678 1164   30
  817 1568  607  709 1230  606 1480   29 1522 1670   49  626 1641 1712
 1370 1782  119 1137 1277   35  947  851 1041 1583 1536  575  196  143
   33  383   57  621  230  162  352 1504 1250   39  511 1364  918 1665
  734 1320  316  771  705 1435  304  116 1553  424  493 1530 1195 1604
  624 1599  782 1606 1622 1285  657 1275 1291 1402  420  932  468  442
 1145   93 1218  283  292  927 1711 1422  364 1398  594  789 1350  676
  216 1012 1426  717 1095 1786  850  777  375  356  701 1325  290 1775
  467 1365 1549  848 1453   84 1458  888  770 1591  582   40 1261 1764
 1067  145  471  476 1128  967  622  641  539  858  295 1395 1517 1297
 1126  926  157 1377  993  125  340  271 1669  272  979  707  564  997
  447 1578 1465  415  714 1276   18 1316  587  245  446  978 1002 1631
  341 1307  524 1267  103  242 1378 1328 1294 1309  724  197  999  547
 1100 1456   77 1506 1472  460   11 1420  218 1253  392  670 1321  100
 1205  443   92  811  774  159 1770  972 1157 1102  217  358 1473  440
  140 1361  481  512 1117  300 1263 1581  901 1298  310  637  758 1734
 1288  326 1678 1444 1344 1379  828  982  104  317 1529 1627  115  645
 1404  940 1305 1049 1645 1466  175 1165 1419 1031  581 1580  854  725
 1655 1134  569 1387 1381 1760  360 1735 1146 1411  969 1281  591  327
  466  667  147  109  784 1396 1349  839 1284  802   97  281 1382 1039
 1483  376 1249 1207 1213 1219 1345 1523  949 1063  983  886 1151  992
 1107 1314  151   69 1489  695  738  444 1525  825  506  518 1077 1354
  713  690  861 1389  968  421  907  205  856   72  651  161  867  971
 1078   64 1701  546 1216   27 1709  193 1528  957  577  346 1416  396
 1182  652 1083 1778  680 1754 1544 1703  636  472  453  463   75  756
  296  891  813  474  697]

{'Num_Credit_Card'}
[   4 1385    5 ...  955 1430  679]

{'Interest_Rate'}
[   3    6    8 ... 1347  387 5729]

{'Num_of_Loan'}
['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_' '7' '5' '5_' '6' '8' '8_'
 '9' '9_' '4_' '7_' '1_' '1464' '6_' '622' '352' '472' '1017' '945' '146'
 '563' '341' '444' '720' '1485' '49' '737' '1106' '466' '728' '313' '843'
 '597_' '617' '119' '663' '640' '92_' '1019' '501' '1302' '39' '716' '848'
 '931' '1214' '186' '424' '1001' '1110' '1152' '457' '1433' '1187' '52'
 '1480' '1047' '1035' '1347_' '33' '193' '699' '329' '1451' '484' '132'
 '649' '995' '545' '684' '1135' '1094' '1204' '654' '58' '348' '614'
 '1363' '323' '1406' '1348' '430' '153' '1461' '905' '1312' '1424' '1154'
 '95' '1353' '1228' '819' '1006' '795' '359' '1209' '590' '696' '1185_'
 '1465' '911' '1181' '70' '816' '1369' '143' '1416' '455' '55' '1096'
 '1474' '420' '1131' '904' '89' '1259' '527' '1241' '449' '983' '418'
 '319' '23' '238' '638' '138' '235_' '280' '1070' '1484' '274' '494'
 '1459_' '404' '1354' '1495' '1391' '601' '1313' '1319' '898' '231' '752'
 '174' '961' '1046' '834' '284' '438' '288' '1463' '1151' '719' '198'
 '1015' '855' '841' '392' '1444' '103' '1320_' '745' '172' '252' '630_'
 '241' '31' '405' '1217' '1030' '1257' '137' '157' '164' '1088' '1236'
 '777' '1048' '613' '330' '1439' '321' '661' '952' '939' '562' '1202'
 '302' '943' '394' '955' '1318' '936' '781' '100' '1329' '1365' '860'
 '217' '191' '32' '282' '351' '1387' '757' '416' '833' '359_' '292'
 '1225_' '1227' '639' '859' '243' '267' '510' '332' '996' '597' '311'
 '492' '820' '336' '123' '540' '131_' '1311_' '1441' '895' '891' '50'
 '940' '935' '596' '29' '1182' '1129_' '1014' '251' '365' '291' '1447'
 '742' '1085' '148' '462' '832' '881' '1225' '1412' '785_' '1127' '910'
 '538' '999' '733' '101' '237' '87' '659' '633' '387' '447' '629' '831'
 '1384' '773' '621' '1419' '289' '143_' '285' '1393' '1131_' '27_' '1359'
 '1482' '1189' '1294' '201' '579' '814' '141' '1320' '581' '1171_' '295'
 '290' '433' '679' '1040' '1054' '1430' '1023' '1077' '1457' '1150' '701'
 '1382' '889' '437' '372' '1222' '126' '1159' '868' '19' '1297' '227_'
 '190' '809' '1216' '1074' '571' '520' '1274' '1340' '991' '316' '697'
 '926' '873' '1002' '378_' '65' '875' '867' '548' '652' '1372' '606'
 '1036' '1300' '17' '1178' '802' '1219_' '1271' '1137' '1496' '439' '196'
 '636' '192' '228' '1053' '229' '753' '1296' '1371' '254' '863' '464'
 '515' '838' '1160' '1289' '1298' '799' '182' '574' '527_' '242' '415'
 '869' '958' '54' '1265' '656' '275' '778' '208' '147' '350' '507' '463'
 '497' '1129' '927' '653' '662' '529' '635' '1027_' '897' '1039' '227'
 '1345' '924' '696_' '1279' '546' '1112' '1210' '526' '300' '1103' '504'
 '136' '1400' '78' '686' '1091' '344' '215' '84' '628' '1470' '968' '1478'
 '83' '1196' '1307' '1132_' '1008' '917' '657' '56' '18' '41' '801' '978'
 '216' '349' '966']

{'Type_of_Loan'}
['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified' ...
 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan'
 'Payday Loan, Student Loan, Mortgage Loan, and Not Specified'
 'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan']

{'Delay_from_due_date'}
[ 3 -1  5  6  8  7 13 10  0  4  9  1 12 11 30 31 34 27 14  2 -2 16 17 15
 23 22 21 18 19 52 51 48 53 26 43 28 25 20 47 46 49 24 61 29 50 58 45 59
 55 56 57 54 62 65 64 67 36 41 33 32 39 44 42 60 35 38 -3 63 40 37 -5 -4
 66]

{'Num_of_Delayed_Payment'}
['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8' '5' '3' '9' '12' '15' '17'
 '10' '2' '2_' '11' '14' '20' '22' '13' '13_' '14_' '16' '12_' '18' '19'
 '23' '24' '21' '3318' '3083' '22_' '1338' '4_' '26' '11_' '3104' '21_'
 '25' '10_' '183_' '9_' '1106' '834' '19_' '24_' '17_' '23_' '2672' '20_'
 '2008' '-3' '538' '6_' '1_' '16_' '27' '-2' '3478' '2420' '15_' '707'
 '708' '26_' '18_' '3815' '28' '5_' '1867' '2250' '1463' '25_' '7_' '4126'
 '2882' '1941' '2655' '2628' '132' '3069' '306' '0_' '3539' '3684' '1823'
 '4128' '1946' '827' '2297' '2566' '904' '182' '929' '3568' '2503' '1552'
 '2812' '1697' '3764' '851' '3905' '923' '88' '1668' '3253' '808' '2689'
 '3858' '642' '3457' '1402' '1732' '3154' '847' '3037' '2204' '3103'
 '1063' '2056' '1282' '1841' '2569_' '211' '793' '3484' '411' '3491'
 '2072' '3050' '1049' '2162' '3402' '2753' '27_' '1718' '1014' '3260'
 '3855' '84' '2311' '3251' '1832' '4069' '3010' '733' '4241' '166' '2461'
 '1749' '3200' '663_' '2185' '4161' '3009' '359' '2015' '1523' '594'
 '1079' '1199' '186' '1015' '1989' '281' '559' '2165' '1509' '3545' '779'
 '192' '4311' '-2_' '2323' '1471' '1538' '3529' '439' '3456' '3040' '2697'
 '3179' '1332' '3175' '3112' '829' '4022' '3870' '4023' '531' '1511'
 '3092' '3191' '2400' '3621' '3536' '544' '1864' '28_' '142' '2300' '264'
 '72' '497' '398' '2222' '3960' '1473' '3043' '4216' '2903' '2658' '-1_'
 '4042' '1323_' '2184' '921' '1328' '3404' '2438' '809' '47' '1996' '4164'
 '1370' '1204' '2167' '4011' '2590' '2594' '2533' '1663' '1018' '2919'
 '3458' '3316' '2589' '2801' '3355' '2529' '2488' '4266' '1243' '739'
 '845' '4107' '1884' '337' '2660' '290' '674' '2450' '3738' '1792' '2823'
 '2570' '775' '960' '482' '1706' '2493' '3623' '3031' '2794_' '2219_'
 '758_' '1849' '3559' '4096' '3726' '1953' '2657' '4043' '2938' '4384'
 '1647' '2694' '3533' '519' '2677' '2413' '-3_' '4139' '2609' '4326'
 '4211' '823' '3011' '1608' '2860' '4219' '4047' '1531' '742' '52' '4024'
 '1673' '49' '2243' '1685' '1869' '2587' '3489' '749' '1164' '2616' '848_'
 '4134' '1530' '1502' '4075' '3845' '1060' '2573' '2128' '328' '640'
 '2585' '2230' '1795' '1180' '1534' '3739' '3313' '4191' '996' '372'
 '3340' '3177' '602' '787' '4135' '3878' '4059' '1218' '4051' '1766'
 '1359' '3107' '585' '1263' '2511' '709' '3632' '4077' '2943' '2793'
 '3245' '2317' '1640' '2237_' '3819' '252' '3978' '1498' '1833' '2737'
 '1192' '1481' '700' '271' '2286' '273' '1215' '3944' '2070' '1478' '3749'
 '871' '2508' '2959' '130' '294' '3097_' '3511' '415' '2196' '2138' '2149'
 '1874' '1553' '3847' '3222' '1222' '2907' '3051' '98' '1598' '416' '2314'
 '2955' '1691' '1450' '2021' '1636' '80' '3708' '195' '320' '2945' '1911'
 '3416' '3796' '4159' '2255' '938' '4397' '3776' '2148' '1994' '853'
 '1178' '1633' '196' '3864' '714' '1687' '1034' '468' '1337' '2044' '1541'
 '3661' '1211' '2645' '2007' '102' '1891' '3162' '3142' '2566_' '2766'
 '3881' '2728' '2671' '1952' '3580' '2705' '4251' '3840_' '972' '3119'
 '3502' '4185' '2954' '683' '1614' '1572' '4302' '3447' '1852' '2131'
 '1900' '1699' '133' '2018' '2127' '508' '210' '577' '1664' '2604' '1411'
 '2351' '867' '1371' '2352' '1191' '905' '4053' '3869' '933' '3660' '3300'
 '3629' '3208' '2142' '2521' '450' '583' '876' '121' '3919' '2560' '2578'
 '2060' '813' '1236' '1489' '4360' '1154' '2544' '4172' '2924' '426'
 '4270' '2768' '3909' '3951' '2712' '2498' '3171' '1750' '197' '2569'
 '265' '4293' '887' '2707' '2397' '4337' '4249' '2751' '2950' '1859' '107'
 '2348' '2506' '2810' '2873' '1301' '2262' '1890' '3078' '3865' '3268'
 '2777' '3105' '1278' '3793' '2276' '2879' '4298' '2141' '223' '2239'
 '846' '1862' '2756' '1181' '1184' '2617' '3972' '2334' '3900' '2759'
 '4169' '2280' '2492' '2729' '3750' '1825' '309' '2431' '3099' '2080'
 '2279' '2666' '3722' '1976' '529' '1985' '3060' '4278' '3212' '46' '3148'
 '3467' '4231' '3790' '473' '1536' '3955' '2324' '2381' '1177' '371'
 '2896' '3880' '2991' '4319' '1061' '662' '4144' '693' '2006' '3115'
 '2278_' '3751' '1861' '4262' '2913' '2615' '3492' '800' '3766' '384'
 '3407' '1087' '3329' '1086' '2216' '1087_' '2457' '3522' '3274' '3488'
 '2854' '238' '351' '3706' '4280' '4095' '2926' '1329' '3370' '283' '1392'
 '1743' '2429' '974' '3156' '1133' '4388' '3243' '4282' '2523' '4281'
 '3415' '2001' '441' '94' '3499' '969' '3368' '106' '1004' '2638' '3946'
 '2956' '4324' '85' '4113' '819' '615' '1172' '2553' '1765' '3495' '2820'
 '4239' '4340' '1295_' '2636' '4295' '1653' '1325' '1879' '1096' '1735'
 '3584' '1073' '1975' '3827' '2552' '3754' '2378' '532' '926' '2376'
 '3636' '3763' '778' '2621' '804' '754' '2418' '4019' '3926' '3861_'
 '3574' '175' '162' '2834' '3765' '2354' '523' '2274' '1606' '1443' '1354'
 '2142_' '1422' '2278' '1045' '4106' '3155' '666' '659' '3229' '1216'
 '2076' '1473_' '2384' '1954' '719' '2534' '4002' '541' '2875' '4344'
 '2081' '3894' '1256' '676' '4178' '399' '86' '1571' '4037' '1967' '4005'
 '3216' '1150' '2591' '1801' '3721' '1775' '2260' '3707' '4292' '1820'
 '145' '1480' '1850' '430' '217' '3920_' '1389' '1579' '3391' '2385'
 '3336' '3392' '3688' '221' '2047']

{'Changed_Credit_Limit'}
['11.27' '_' '6.27' ... '27.38' '25.16' '21.17']

{'Num_Credit_Inquiries'}
[   4.    2.    3. ... 1361.  310.   74.]

{'Credit_Mix'}
['_' 'Good' 'Standard' 'Bad']

{'Outstanding_Debt'}
['809.98' '605.03' '1303.01' ... '3571.7_' '3571.7' '502.38']

{'Credit_Utilization_Ratio'}
[26.82261962 31.94496006 28.60935202 ... 41.25552226 33.63820798
 34.19246265]

{'Credit_History_Age'}
['22 Years and 1 Months' nan '22 Years and 3 Months'
 '22 Years and 4 Months' '22 Years and 5 Months' '22 Years and 6 Months'
 '22 Years and 7 Months' '26 Years and 7 Months' '26 Years and 8 Months'
 '26 Years and 9 Months' '26 Years and 10 Months' '26 Years and 11 Months'
 '27 Years and 0 Months' '27 Years and 1 Months' '27 Years and 2 Months'
 '17 Years and 9 Months' '17 Years and 10 Months' '17 Years and 11 Months'
 '18 Years and 1 Months' '18 Years and 2 Months' '18 Years and 3 Months'
 '18 Years and 4 Months' '17 Years and 3 Months' '17 Years and 4 Months'
 '17 Years and 5 Months' '17 Years and 6 Months' '17 Years and 7 Months'
 '17 Years and 8 Months' '30 Years and 8 Months' '30 Years and 9 Months'
 '30 Years and 10 Months' '30 Years and 11 Months' '31 Years and 0 Months'
 '31 Years and 1 Months' '31 Years and 2 Months' '31 Years and 3 Months'
 '32 Years and 0 Months' '32 Years and 2 Months' '32 Years and 3 Months'
 '32 Years and 5 Months' '32 Years and 6 Months' '30 Years and 7 Months'
 '14 Years and 8 Months' '14 Years and 9 Months' '14 Years and 10 Months'
 '14 Years and 11 Months' '15 Years and 0 Months' '15 Years and 1 Months'
 '15 Years and 2 Months' '21 Years and 4 Months' '21 Years and 5 Months'
 '21 Years and 6 Months' '21 Years and 7 Months' '21 Years and 8 Months'
 '21 Years and 9 Months' '21 Years and 10 Months' '21 Years and 11 Months'
 '26 Years and 6 Months' '19 Years and 2 Months' '19 Years and 3 Months'
 '19 Years and 4 Months' '19 Years and 5 Months' '19 Years and 6 Months'
 '19 Years and 7 Months' '19 Years and 8 Months' '25 Years and 5 Months'
 '25 Years and 6 Months' '25 Years and 7 Months' '25 Years and 8 Months'
 '25 Years and 9 Months' '25 Years and 10 Months' '25 Years and 11 Months'
 '26 Years and 0 Months' '27 Years and 3 Months' '27 Years and 4 Months'
 '27 Years and 5 Months' '8 Years and 11 Months' '9 Years and 0 Months'
 '9 Years and 1 Months' '9 Years and 2 Months' '9 Years and 3 Months'
 '9 Years and 4 Months' '9 Years and 6 Months' '18 Years and 5 Months'
 '18 Years and 6 Months' '18 Years and 8 Months' '18 Years and 9 Months'
 '16 Years and 10 Months' '16 Years and 11 Months' '17 Years and 0 Months'
 '17 Years and 1 Months' '17 Years and 2 Months' '29 Years and 2 Months'
 '29 Years and 3 Months' '29 Years and 4 Months' '29 Years and 6 Months'
 '29 Years and 8 Months' '29 Years and 9 Months' '6 Years and 5 Months'
 '6 Years and 6 Months' '6 Years and 7 Months' '6 Years and 8 Months'
 '6 Years and 9 Months' '6 Years and 10 Months' '6 Years and 11 Months'
 '7 Years and 0 Months' '27 Years and 6 Months' '27 Years and 7 Months'
 '27 Years and 8 Months' '27 Years and 9 Months' '18 Years and 7 Months'
 '19 Years and 9 Months' '19 Years and 10 Months' '10 Years and 1 Months'
 '10 Years and 2 Months' '10 Years and 3 Months' '10 Years and 4 Months'
 '10 Years and 5 Months' '10 Years and 6 Months' '10 Years and 7 Months'
 '10 Years and 8 Months' '32 Years and 9 Months' '32 Years and 10 Months'
 '32 Years and 11 Months' '33 Years and 0 Months' '33 Years and 1 Months'
 '33 Years and 4 Months' '12 Years and 3 Months' '12 Years and 4 Months'
 '12 Years and 5 Months' '12 Years and 6 Months' '12 Years and 7 Months'
 '12 Years and 8 Months' '12 Years and 10 Months' '12 Years and 9 Months'
 '13 Years and 8 Months' '13 Years and 11 Months' '14 Years and 0 Months'
 '14 Years and 1 Months' '14 Years and 2 Months' '14 Years and 3 Months'
 '30 Years and 3 Months' '30 Years and 4 Months' '30 Years and 5 Months'
 '30 Years and 6 Months' '8 Years and 9 Months' '8 Years and 10 Months'
 '18 Years and 10 Months' '18 Years and 11 Months' '19 Years and 0 Months'
 '19 Years and 1 Months' '8 Years and 8 Months' '13 Years and 1 Months'
 '13 Years and 2 Months' '13 Years and 3 Months' '13 Years and 5 Months'
 '13 Years and 6 Months' '13 Years and 7 Months' '22 Years and 0 Months'
 '26 Years and 1 Months' '26 Years and 2 Months' '13 Years and 4 Months'
 '13 Years and 9 Months' '27 Years and 11 Months' '28 Years and 0 Months'
 '28 Years and 1 Months' '28 Years and 2 Months' '28 Years and 3 Months'
 '28 Years and 4 Months' '28 Years and 5 Months' '28 Years and 6 Months'
 '7 Years and 10 Months' '7 Years and 11 Months' '8 Years and 0 Months'
 '8 Years and 1 Months' '8 Years and 2 Months' '8 Years and 3 Months'
 '8 Years and 4 Months' '8 Years and 5 Months' '24 Years and 3 Months'
 '24 Years and 4 Months' '24 Years and 5 Months' '24 Years and 6 Months'
 '24 Years and 7 Months' '24 Years and 8 Months' '24 Years and 9 Months'
 '1 Years and 2 Months' '1 Years and 3 Months' '1 Years and 4 Months'
 '1 Years and 5 Months' '1 Years and 6 Months' '1 Years and 7 Months'
 '1 Years and 8 Months' '10 Years and 11 Months' '11 Years and 0 Months'
 '11 Years and 1 Months' '11 Years and 2 Months' '11 Years and 3 Months'
 '11 Years and 4 Months' '11 Years and 5 Months' '11 Years and 6 Months'
 '19 Years and 11 Months' '20 Years and 0 Months' '20 Years and 1 Months'
 '10 Years and 9 Months' '10 Years and 10 Months' '14 Years and 4 Months'
 '14 Years and 5 Months' '14 Years and 6 Months' '20 Years and 8 Months'
 '20 Years and 9 Months' '20 Years and 10 Months' '20 Years and 11 Months'
 '21 Years and 0 Months' '21 Years and 1 Months' '21 Years and 2 Months'
 '21 Years and 3 Months' '0 Years and 4 Months' '0 Years and 5 Months'
 '0 Years and 6 Months' '0 Years and 8 Months' '0 Years and 9 Months'
 '0 Years and 10 Months' '31 Years and 7 Months' '31 Years and 8 Months'
 '31 Years and 9 Months' '31 Years and 10 Months' '31 Years and 11 Months'

I am going to fix all the issues for each column.

Customer_ID and Month are ok.

Next column is Age. It has errors.

# Age

In [94]:
credit_info['Age'].describe()

count     100000
unique      1788
top           38
freq        2833
Name: Age, dtype: object

Before converting it to float, first I have to fix the values that have "_"

In [95]:
credit_info['Age'] = credit_info['Age'].str.strip('_')

In [96]:
credit_info['Age'] = credit_info['Age'].astype('float')

Now, I am only consider the ages between 18 and 65, since I assume that these are the ages where people work

In [97]:
credit_info['Age'].describe()

count    100000.000000
mean        110.649700
std         686.244717
min        -500.000000
25%          24.000000
50%          33.000000
75%          42.000000
max        8698.000000
Name: Age, dtype: float64

In [98]:
# List1 is created to find the ages not between 18 and 65 inclusive
list1 = []
for i in credit_info['Age']:
  if i < 18 or i > 65:
    list1.append(i)
print(list1)

[-500.0, 7580.0, -500.0, 181.0, 995.0, 5079.0, 6409.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 7080.0, 849.0, -500.0, 3885.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 3052.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 5342.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 4431.0, -500.0, 2657.0, 2111.0, 1032.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 456.0, 5717.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, -500.0, -500.0, 3169.0, 1191.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 7140.0, -500.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 8233.0, 6955.0, -500.0, 2534.0, 3115.0, 7657.0, 5112.0, -500.0, 6452.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 2744.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 1439.0, 5795.0, 4872.0, -500.0, 1772.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 1383.0, 5657.0, -500.0, 1934.0, -500.0, 8352.0, -500.0, 3734.0, -500.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 2056.0, -500.0, 7508.0, 2339.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 8406.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 1424.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, -500.0, -500.0, 6953.0, 5626.0, 4471.0, 548.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, -500.0, -500.0, -500.0, 16.0, 16.0, 16.0, 16.0, 769.0, 16.0, 17.0, 17.0, -500.0, -500.0, -500.0, 5490.0, 525.0, 4202.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 3665.0, 7670.0, -500.0, 4670.0, 3616.0, 6922.0, 6619.0, 1808.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 7992.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 223.0, 1232.0, 4659.0, 6895.0, 395.0, 7099.0, -500.0, 6048.0, 3936.0, -500.0, 3512.0, 123.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, -500.0, 5639.0, 471.0, -500.0, 7359.0, 4049.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 5053.0, 2109.0, 7183.0, 16.0, 16.0, 16.0, 16.0, 5604.0, 16.0, 16.0, 16.0, 1206.0, 6835.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 4067.0, 1812.0, 1170.0, 3625.0, -500.0, 6354.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 3724.0, 480.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, -500.0, -500.0, -500.0, 5610.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 4710.0, -500.0, 4351.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 5784.0, 3937.0, 3542.0, 15.0, 15.0, 2239.0, 15.0, 15.0, 15.0, 15.0, 16.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 5645.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 7425.0, 7851.0, -500.0, 2027.0, 6306.0, 835.0, 3513.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 6846.0, 6868.0, 7805.0, -500.0, 7274.0, -500.0, 831.0, 8394.0, -500.0, 2751.0, 733.0, -500.0, 783.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 2455.0, -500.0, 5612.0, 14.0, 14.0, 15.0, 15.0, -500.0, 15.0, 15.0, 15.0, 2402.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 4119.0, 4645.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 8105.0, 1400.0, 7431.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 17.0, 17.0, 17.0, 17.0, 17.0, 3666.0, 17.0, 17.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 2350.0, -500.0, 491.0, 1116.0, -500.0, 692.0, 5429.0, 4745.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 4017.0, 3279.0, 651.0, 15.0, 5611.0, 15.0, 5769.0, 16.0, 16.0, 16.0, 16.0, 6586.0, 7699.0, 919.0, -500.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, -500.0, 6765.0, 5376.0, 2546.0, 112.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 3909.0, 5054.0, 8655.0, 4383.0, 2824.0, 7865.0, 2823.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 6365.0, -500.0, -500.0, -500.0, 5688.0, -500.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 6178.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 886.0, 3353.0, 8562.0, 7750.0, -500.0, 5186.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 8080.0, 3553.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 5537.0, -500.0, -500.0, 3967.0, -500.0, 6520.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 2650.0, 1335.0, 2054.0, 7068.0, 6100.0, 2636.0, 1753.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, -500.0, -500.0, -500.0, 6389.0, -500.0, 2419.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, 181.0, 2033.0, 2961.0, -500.0, 3307.0, 5504.0, 4060.0, 17.0, 17.0, 17.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 5237.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 2297.0, -500.0, 5583.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 4958.0, 6395.0, 3319.0, 7705.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 4820.0, 2456.0, 5194.0, 5154.0, 4155.0, 7336.0, -500.0, 7195.0, -500.0, 8005.0, 5165.0, -500.0, 14.0, 14.0, 14.0, 3861.0, 14.0, 14.0, 14.0, 15.0, 2584.0, 2563.0, 5592.0, 16.0, 3771.0, 17.0, 17.0, 1188.0, 17.0, 17.0, 17.0, -500.0, 5017.0, 8034.0, 5256.0, 8173.0, 2419.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 14.0, 14.0, 14.0, 14.0, 6962.0, 14.0, 15.0, 15.0, -500.0, -500.0, 3578.0, 7805.0, 4572.0, 5589.0, 328.0, -500.0, 1678.0, 1512.0, 6868.0, 6556.0, -500.0, -500.0, -500.0, 5430.0, 8442.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 4517.0, -500.0, 7525.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 1203.0, 4260.0, -500.0, -500.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 7980.0, 7153.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 2400.0, 16.0, 6331.0, 3715.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 3285.0, 8043.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, -500.0, 8250.0, -500.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 8628.0, -500.0, 8608.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 16.0, 17.0, 17.0, 17.0, 7016.0, 17.0, 17.0, 17.0, -500.0, -500.0, -500.0, 989.0, 359.0, 8155.0, 2090.0, 4126.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, -500.0, 3791.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 5782.0, 6292.0, 8662.0, -500.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 1681.0, 1338.0, 8000.0, 7935.0, 5608.0, 1006.0, -500.0, 1451.0, -500.0, 622.0, 4857.0, -500.0, 2369.0, 8216.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, -500.0, 7330.0, 7289.0, -500.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 3601.0, 4127.0, 236.0, 6707.0, 493.0, -500.0, 4682.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 287.0, 375.0, 5195.0, 1969.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 493.0, 5788.0, -500.0, 6413.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 2388.0, 5152.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 3986.0, 1715.0, 8200.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 4336.0, 8299.0, 1308.0, -500.0, 3888.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 1051.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 134.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, 5897.0, -500.0, 6350.0, 2379.0, 3197.0, 15.0, 15.0, 3341.0, 15.0, 15.0, 15.0, 15.0, 15.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 8674.0, 7123.0, 15.0, 15.0, 556.0, 15.0, 15.0, 16.0, 16.0, 16.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 1083.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, -500.0, 1447.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 7032.0, 5579.0, 1692.0, 4204.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 7968.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 17.0, 1148.0, 2980.0, 4626.0, 3492.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 1323.0, -500.0, 2799.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 6426.0, 2388.0, 186.0, 5498.0, -500.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 7060.0, 1752.0, 1816.0, 17.0, 17.0, 17.0, 609.0, 17.0, 17.0, 17.0, 17.0, -500.0, 2514.0, 6276.0, 4365.0, 1692.0, 8421.0, 8153.0, 4609.0, 1625.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 2614.0, -500.0, 14.0, 14.0, -500.0, 14.0, 14.0, 14.0, 15.0, 15.0, 4603.0, -500.0, -500.0, 7026.0, -500.0, -500.0, 4010.0, 15.0, 15.0, 15.0, 624.0, 15.0, 15.0, 15.0, 15.0, 1143.0, -500.0, 5870.0, 3607.0, 14.0, 14.0, 651.0, 14.0, 14.0, 14.0, 14.0, 15.0, 1206.0, 8505.0, 528.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 1578.0, 4404.0, 4414.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 6704.0, -500.0, 2509.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, -500.0, -500.0, -500.0, 7456.0, 7353.0, -500.0, 3075.0, 2081.0, 925.0, -500.0, -500.0, 4021.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 3602.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 5930.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, -500.0, 306.0, 7197.0, -500.0, 1066.0, 4527.0, 6510.0, -500.0, 1062.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 5221.0, 7166.0, 4391.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 6651.0, 1227.0, 7112.0, 3214.0, 8472.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 836.0, -500.0, 7553.0, 7504.0, 1357.0, 3284.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 2721.0, 6385.0, 2997.0, -500.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 2451.0, 3480.0, 3357.0, -500.0, 711.0, 8632.0, 1388.0, 5696.0, -500.0, -500.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 5524.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 356.0, 6608.0, 5705.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 16.0, 16.0, 14.0, 14.0, 8567.0, 14.0, 14.0, 15.0, 15.0, 15.0, 3132.0, 1433.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 1695.0, 17.0, 17.0, 8639.0, 17.0, 8582.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 2275.0, 4959.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, -500.0, -500.0, 3834.0, 623.0, 7295.0, -500.0, 4670.0, 3345.0, -500.0, -500.0, 3493.0, 182.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 126.0, 6744.0, 4390.0, -500.0, -500.0, 7715.0, -500.0, -500.0, -500.0, 6130.0, -500.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 6471.0, 7723.0, -500.0, 3768.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 4178.0, 4630.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 1420.0, 6417.0, -500.0, 2560.0, 3985.0, 3750.0, -500.0, 4444.0, 234.0, -500.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 3795.0, 637.0, -500.0, 6649.0, -500.0, 4380.0, 5714.0, -500.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 7693.0, -500.0, 2174.0, -500.0, 15.0, 2366.0, 5781.0, 15.0, 15.0, 15.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 5677.0, -500.0, 3038.0, -500.0, 4897.0, -500.0, 7937.0, 365.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 7640.0, 14.0, 14.0, 6408.0, -500.0, 1112.0, 3546.0, 8424.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 14.0, 14.0, 14.0, 14.0, -500.0, 14.0, 14.0, 14.0, 124.0, -500.0, 14.0, 15.0, 15.0, 15.0, 15.0, 3502.0, 5747.0, 15.0, 8082.0, 7564.0, 1436.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, -500.0, 17.0, 17.0, 17.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 3519.0, 16.0, 6175.0, 2091.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 8249.0, -500.0, 7316.0, 2578.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 4687.0, 4163.0, 5796.0, 5123.0, 6943.0, 17.0, -500.0, -500.0, 4517.0, 8338.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 7525.0, 6345.0, 1364.0, -500.0, 6777.0, 17.0, 17.0, 4782.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 5981.0, 963.0, 5907.0, 17.0, 17.0, 17.0, 6978.0, 673.0, 17.0, 17.0, 17.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, -500.0, 8639.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, -500.0, 6322.0, 6384.0, 3036.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 1270.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 8561.0, -500.0, -500.0, 634.0, -500.0, 2352.0, 6800.0, 118.0, -500.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 1010.0, 1692.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 2395.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 6781.0, 5520.0, -500.0, 7042.0, 8592.0, 1868.0, -500.0, 1436.0, 4307.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 2764.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, -500.0, 6796.0, 6646.0, 142.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 6141.0, 1852.0, 4416.0, 8466.0, 4576.0, 17.0, 17.0, 17.0, 3410.0, 17.0, 8151.0, 890.0, 3581.0, 6925.0, 5479.0, -500.0, -500.0, 1102.0, 8669.0, 5074.0, 2463.0, -500.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, -500.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 3940.0, 5508.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, 1788.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 216.0, -500.0, 17.0, 17.0, 15.0, 16.0, 16.0, 5173.0, 16.0, 16.0, 16.0, 16.0, -500.0, 16.0, 16.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 7965.0, -500.0, 7987.0, 14.0, 14.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 6666.0, 921.0, 4719.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 16.0, 17.0, 17.0, 17.0, 17.0, 7092.0, 1657.0, 5738.0, 349.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 6995.0, -500.0, -500.0, -500.0, 7441.0, -500.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 5976.0, -500.0, -500.0, 762.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, -500.0, 6485.0, 7702.0, -500.0, -500.0, 5708.0, 946.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, -500.0, -500.0, 4564.0, 3093.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 6767.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 5195.0, -500.0, 3933.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 3458.0, 14.0, 14.0, 14.0, 14.0, 1300.0, 14.0, 14.0, 14.0, 5851.0, 774.0, 2577.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 2400.0, 1811.0, -500.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 7480.0, 7113.0, 6273.0, 7235.0, 1452.0, 5788.0, -500.0, 4058.0, 7520.0, 7414.0, 4370.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 1853.0, 4649.0, 7845.0, -500.0, -500.0, 2864.0, -500.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, -500.0, 7925.0, 5550.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 4165.0, 6411.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 4063.0, 3215.0, 169.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 99.0, 16.0, 16.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 6331.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 3055.0, -500.0, 1248.0, 586.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, -500.0, 16.0, 16.0, 2386.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 5649.0, -500.0, 8520.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, -500.0, 100.0, -500.0, 3978.0, 3244.0, 3778.0, 879.0, 1024.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 423.0, 3938.0, -500.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 2882.0, 1083.0, -500.0, 6036.0, 6037.0, 1484.0, 4643.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 4510.0, 15.0, 15.0, 15.0, 15.0, 3146.0, 8514.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 14.0, 2220.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, -500.0, 6360.0, 362.0, 5996.0, 6892.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 2159.0, 5001.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 576.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 5018.0, 387.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 4890.0, 5507.0, -500.0, 4661.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 1386.0, 330.0, -500.0, 6074.0, 6970.0, 8592.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 102.0, 5906.0, 203.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 3640.0, 8124.0, 4484.0, -500.0, 17.0, 17.0, 17.0, 17.0, 17.0, 2778.0, -500.0, -500.0, -500.0, 2434.0, -500.0, 742.0, 7794.0, 4177.0, -500.0, 4246.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 208.0, 7508.0, 5765.0, 7710.0, 1734.0, -500.0, -500.0, -500.0, 15.0, 15.0, 5202.0, 15.0, 15.0, 16.0, 16.0, 16.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 853.0, 3450.0, -500.0, 1630.0, -500.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 3843.0, 7038.0, 8384.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 8179.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 5551.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 6593.0, 7490.0, 2574.0, 1644.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 111.0, 4975.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 5478.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 1176.0, 15.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 1418.0, -500.0, 4679.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 5751.0, 2546.0, 3779.0, 6611.0, 325.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 7879.0, 17.0, 6227.0, 6111.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 573.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 3726.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, -500.0, 6722.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 4732.0, -500.0, -500.0, 1754.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 3966.0, 2437.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 2212.0, 8081.0, -500.0, -500.0, -500.0, 4194.0, 3119.0, 7549.0, 4583.0, 3452.0, 1908.0, 3988.0, 5621.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, -500.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 7178.0, 5741.0, 4774.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 5116.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 15.0, 15.0, 3378.0, 8302.0, 7651.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 404.0, -500.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, -500.0, 3023.0, 5032.0, 4787.0, 305.0, -500.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, -500.0, 4107.0, -500.0, 381.0, 8623.0, -500.0, 16.0

Ages not between 18 and 65, will be replaced by 0

In [99]:
for i in credit_info['Age']:
  if i in list1:
    credit_info['Age'] = credit_info['Age'].replace(i, 0)

In [100]:
credit_info['Age'].describe()

count    100000.000000
mean         31.504640
std          13.625486
min           0.000000
25%          24.000000
50%          32.000000
75%          41.000000
max          56.000000
Name: Age, dtype: float64

In [101]:
#No Na
credit_info['Age'].isna().sum()

0

Now, I will replace the 0s with the maximum age for each Customer_ID

In [102]:
credit_info['Age'] = credit_info.groupby(by=['Customer_ID'])['Age'].transform('max')

In [103]:
credit_info[['Customer_ID','Age']].head(16)

       Customer_ID   Age
ID
0x1602   CUS_0xd40  23.0
0x1603   CUS_0xd40  23.0
0x1604   CUS_0xd40  23.0
0x1605   CUS_0xd40  23.0
0x1606   CUS_0xd40  23.0
0x1607   CUS_0xd40  23.0
0x1608   CUS_0xd40  23.0
0x1609   CUS_0xd40  23.0
0x160e  CUS_0x21b1  28.0
0x160f  CUS_0x21b1  28.0
0x1610  CUS_0x21b1  28.0
0x1611  CUS_0x21b1  28.0
0x1612  CUS_0x21b1  28.0
0x1613  CUS_0x21b1  28.0
0x1614  CUS_0x21b1  28.0
0x1615  CUS_0x21b1  28.0

Check if Age is fixed

In [104]:
print("AGE:")
print("Number of NAs = ",credit_info['Age'].isna().value_counts())
print("Number of Nulls = ",credit_info['Age'].isnull().value_counts())
print("Number of 0s = ",credit_info['Age'][credit_info['Age']==0].value_counts())

AGE:
Number of NAs =  False    100000
Name: Age, dtype: int64
Number of Nulls =  False    100000
Name: Age, dtype: int64
Number of 0s =  0.0    5504
Name: Age, dtype: int64

Not fixed yet, there are 5504 values that are 0.

In [105]:
credit_info[credit_info['Customer_ID']=='CUS_0x4080']

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
ID,,,,,,,,,,,,,,,,,,,,,
0x17b2,CUS_0x4080,January,0.0,Mechanic,29469.98,2227.831667,1231,7,24,5,...,_,3421.66,24.639658,NaN,Yes,69.685459,59.82559612,!@9#%8,363.272112,Standard
0x17b3,CUS_0x4080,February,0.0,Mechanic,29469.98,2227.831667,7,7,24,5,...,Bad,3421.66,30.268411,13 Years and 3 Months,NM,69.685459,125.4917683,High_spent_Small_value_payments,287.6059398,Standard
0x17b4,CUS_0x4080,March,0.0,Mechanic,29469.98,2227.831667,7,7,24,-100,...,_,3421.66,31.212269,13 Years and 4 Months,Yes,69.685459,32.70665182,High_spent_Large_value_payments,360.3910563,Standard
0x17b5,CUS_0x4080,April,0.0,Mechanic,29469.98,2227.831667,7,7,24,5,...,Bad,3421.66,33.298654,13 Years and 5 Months,Yes,69.685459,27.25079463,High_spent_Medium_value_payments,375.8469135,Poor
0x17b6,CUS_0x4080,May,0.0,Mechanic,29469.98,2227.831667,7,7,24,5,...,Bad,3421.66,38.177311,13 Years and 6 Months,Yes,69.685459,71.26438577,Low_spent_Medium_value_payments,361.8333223,Poor
0x17b7,CUS_0x4080,June,0.0,Mechanic,29469.98_,NaN,7,7,24,5,...,Bad,3421.66,30.986998,13 Years and 7 Months,Yes,69.685459,117.3103161,Low_spent_Small_value_payments,325.787392,Poor
0x17b8,CUS_0x4080,July,0.0,Mechanic,29469.98,NaN,7,7,24,5,...,Bad,3421.66,33.283061,13 Years and 8 Months,Yes,69.685459,115.4534157,Low_spent_Small_value_payments,327.6442924,Poor
0x17b9,CUS_0x4080,August,0.0,Mechanic,29469.98,2227.831667,7,7,24,5,...,Bad,3421.66,32.962950,13 Years and 9 Months,Yes,69.685459,24.06613145,High_spent_Medium_value_payments,379.0315766,Poor

In [106]:
print(credit_info[['Customer_ID']][credit_info['Age'] == 0].count())
print()
credit_info[['Customer_ID']][credit_info['Age'] == 0].groupby('Customer_ID').Customer_ID.count()

Customer_ID    5504
dtype: int64

Customer_ID
CUS_0x1018    8
CUS_0x1041    8
CUS_0x107c    8
CUS_0x107e    8
CUS_0x1123    8
             ..
CUS_0xf60     8
CUS_0xf95     8
CUS_0xfaa     8
CUS_0xfae     8
CUS_0xfdd     8
Name: Customer_ID, Length: 688, dtype: int64

This is because there was no Age in those Customers

Two solutions: delete them or assign them the average or median Age

In [107]:
import statistics

In [108]:
print("AGE:")
print("Average =", round(statistics.mean(credit_info['Age']),0))
print("Median =", statistics.median(credit_info['Age']))

AGE:
Average = 33.0
Median = 33.0

Solution 1:

Average and Median are the same

I will change the 0s for the average

In [109]:
#for i in credit_info['Age']:
#  if i == 0:
#    credit_info['Age'] = credit_info['Age'].replace(i, round(statistics.mean(credit_info['Age']),0))

Solution 2:

Delete all customers where Age is 0

In [110]:
#credit_info.drop(credit_info[credit_info['Age']==0].index, inplace=True)

All good for Age.

# Occupation

Reviewing values

In [111]:
credit_info['Occupation'].unique()

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

2 problems found:


1.   Value '_______'
2.   Value '_' in Media_Manager

First, delete de '_' in Media Manager

In [112]:
for i in credit_info['Occupation']:
  if i == 'Media_Manager':
    credit_info['Occupation'] = credit_info['Occupation'].replace(i, 'Media Manager')

In [113]:
credit_info['Occupation'].unique()

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

Second, fix the '_____' value

1. Change to Na

In [114]:
for i in credit_info['Occupation']:
  if i == '_______':
    credit_info['Occupation'] = credit_info['Occupation'].replace(i, np.nan)

In [115]:
credit_info['Occupation'].unique()

array(['Scientist', nan, 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

2. Fill Occupations NA's with the mode

In [116]:
from scipy import stats

In [117]:
credit_info['Occupation'] = credit_info.groupby('Customer_ID')['Occupation'].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

In [118]:
credit_info['Occupation'].unique()

array(['Scientist', 'Teacher', 'Engineer', 'Entrepreneur', 'Developer',
       'Lawyer', 'Media Manager', 'Doctor', 'Journalist', 'Manager',
       'Accountant', 'Musician', 'Mechanic', 'Writer', 'Architect'],
      dtype=object)

All done with Occupation

# Annual Income

In [119]:
credit_info['Annual_Income'].unique()

array(['19114.12', '34847.84', '34847.84_', ..., '20002.88', '39628.99',
       '39628.99_'], dtype=object)

Erase '_' in some values

In [120]:
credit_info['Annual_Income'] = credit_info['Annual_Income'].str.strip('_')

Change it to float

In [121]:
credit_info['Annual_Income'] = credit_info['Annual_Income'].astype('float')

In [122]:
credit_info['Annual_Income'].unique()

array([ 19114.12,  34847.84, 143162.64, ...,  37188.1 ,  20002.88,
        39628.99])

In [123]:
credit_info['Annual_Income'].describe()

count    1.000000e+05
mean     1.764157e+05
std      1.429618e+06
min      7.005930e+03
25%      1.945750e+04
50%      3.757861e+04
75%      7.279092e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

All done with Annual Income

# Monthly Inhand Salary

In [124]:
credit_info['Monthly_Inhand_Salary'].describe()

count    84998.000000
mean      4194.170850
std       3183.686167
min        303.645417
25%       1625.568229
50%       3093.745000
75%       5957.448333
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

It has less than 100000 values, so there might be some Na's

In [125]:
credit_info['Monthly_Inhand_Salary'].unique()

array([1824.843333,         nan, 3037.986667, ..., 3097.008333,
       1929.906667, 3359.415833])

In [126]:
credit_info['Monthly_Inhand_Salary'].isna().sum()

15002

Check min, max, median, mean for each customer to see which is the best stats to change instead of the Na's

In [127]:
credit_info.groupby(['Customer_ID'])['Monthly_Inhand_Salary'].agg(['min','max','median','mean'])

                     min          max       median         mean
Customer_ID
CUS_0x1000   2706.161667  2706.161667  2706.161667  2706.161667
CUS_0x1009   4250.390000  4250.390000  4250.390000  4250.390000
CUS_0x100b   9549.782500  9549.782500  9549.782500  9549.782500
CUS_0x1011   5208.872500  5208.872500  5208.872500  5208.872500
CUS_0x1013   7962.415000  7962.415000  7962.415000  7962.415000
...                  ...          ...          ...          ...
CUS_0xff3    1176.398750  1176.398750  1176.398750  1176.398750
CUS_0xff4    2415.855000  2415.855000  2415.855000  2415.855000
CUS_0xff6    9727.326667  9727.326667  9727.326667  9727.326667
CUS_0xffc    5218.097500  5218.097500  5218.097500  5218.097500
CUS_0xffd    3749.870000  3749.870000  3749.870000  3749.870000

[12500 rows x 4 columns]

It seems that all are the same, so I will change the Nas for the Mode

In [128]:
credit_info['Monthly_Inhand_Salary'] = credit_info.groupby('Customer_ID')['Monthly_Inhand_Salary'].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

In [129]:
credit_info['Monthly_Inhand_Salary'].describe()

count    99740.000000
mean      4198.094667
std       3186.506764
min        303.645417
25%       1626.047500
50%       3097.008333
75%       5957.715000
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

All done with Monthly Inhand Salary

# Num Bank Accounts

Check values

In [130]:
credit_info['Num_Bank_Accounts'].describe()

count    100000.000000
mean         17.091280
std         117.404834
min          -1.000000
25%           3.000000
50%           6.000000
75%           7.000000
max        1798.000000
Name: Num_Bank_Accounts, dtype: float64

There are values that have to be fixed: negatives and thousands

Check which stat method use to change those wrong values

In [131]:
from statistics import mode

In [132]:
credit_info.groupby(['Customer_ID'])['Num_Bank_Accounts'].agg(['min','max','median','mean',pd.Series.mode])

             min  max  median  mean mode
Customer_ID
CUS_0x1000     6    6     6.0   6.0    6
CUS_0x1009     6    6     6.0   6.0    6
CUS_0x100b     1    1     1.0   1.0    1
CUS_0x1011     3    3     3.0   3.0    3
CUS_0x1013     3    3     3.0   3.0    3
...          ...  ...     ...   ...  ...
CUS_0xff3      0    0     0.0   0.0    0
CUS_0xff4      8    8     8.0   8.0    8
CUS_0xff6      5    5     5.0   5.0    5
CUS_0xffc      6    6     6.0   6.0    6
CUS_0xffd      8    8     8.0   8.0    8

[12500 rows x 5 columns]

Can't use min because there are negatives values.

Can't use max because the over thousands values.

Median, Mean and Mode seem to be the same. I will use Median in this case.

In [133]:
credit_info['Num_Bank_Accounts'] = credit_info.groupby(by=['Customer_ID'])['Num_Bank_Accounts'].transform('median')

Check if issues were solved

In [134]:
credit_info['Num_Bank_Accounts'].describe()

count    100000.000000
mean          5.369600
std           2.592987
min          -1.000000
25%           3.000000
50%           5.000000
75%           7.000000
max          10.500000
Name: Num_Bank_Accounts, dtype: float64

Thousand values were corrected.

Now, I will fix the negative ones.

Change negatives for 0s because there are not negatives number of accounts

In [135]:
credit_info[['Customer_ID','Num_Bank_Accounts']][credit_info['Num_Bank_Accounts'] < 0]

        Customer_ID  Num_Bank_Accounts
ID
0xc7b6   CUS_0x4f2a               -1.0
0xc7b7   CUS_0x4f2a               -1.0
0xc7b8   CUS_0x4f2a               -1.0
0xc7b9   CUS_0x4f2a               -1.0
0xc7ba   CUS_0x4f2a               -1.0
0xc7bb   CUS_0x4f2a               -1.0
0xc7bc   CUS_0x4f2a               -1.0
0xc7bd   CUS_0x4f2a               -1.0
0x115fe  CUS_0xa878               -1.0
0x115ff  CUS_0xa878               -1.0
0x11600  CUS_0xa878               -1.0
0x11601  CUS_0xa878               -1.0
0x11602  CUS_0xa878               -1.0
0x11603  CUS_0xa878               -1.0
0x11604  CUS_0xa878               -1.0
0x11605  CUS_0xa878               -1.0
0x12a9e  CUS_0x43bc               -0.5
0x12a9f  CUS_0x43bc               -0.5
0x12aa0  CUS_0x43bc               -0.5
0x12aa1  CUS_0x43bc               -0.5
0x12aa2  CUS_0x43bc               -0.5
0x12aa3  CUS_0x43bc               -0.5
0x12aa4  CUS_0x43bc               -0.5
0x12aa5  CUS_0x43bc               -0.5
0x15bfa  CUS_0x5993               -0.5
0x15bfb  CUS_0x5993               -0.5
0x15bfc  CUS_0x5993               -0.5
0x15bfd  CUS_0x5993               -0.5
0x15bfe  CUS_0x5993               -0.5
0x15bff  CUS_0x5993               -0.5
0x15c00  CUS_0x5993               -0.5
0x15c01  CUS_0x5993               -0.5

In [136]:
for i in credit_info['Num_Bank_Accounts']:
  if i < 0:
    credit_info['Num_Bank_Accounts'] = credit_info['Num_Bank_Accounts'].replace(i, 0)

Check if changes were done correctly

In [137]:
credit_info['Num_Bank_Accounts'].describe()

count    100000.000000
mean          5.369840
std           2.592452
min           0.000000
25%           3.000000
50%           5.000000
75%           7.000000
max          10.500000
Name: Num_Bank_Accounts, dtype: float64

All done for Num Bank Accounts

# Num Credit Card

In [138]:
credit_info['Num_Credit_Card'].describe()

count    100000.00000
mean         22.47443
std         129.05741
min           0.00000
25%           4.00000
50%           5.00000
75%           7.00000
max        1499.00000
Name: Num_Credit_Card, dtype: float64

There are thousands values that have to be fixed

Check which stat method use to change those wrong values

In [139]:
credit_info.groupby(['Customer_ID'])['Num_Credit_Card'].agg(['min','max','median','mean',pd.Series.mode])

             min   max  median     mean mode
Customer_ID
CUS_0x1000     5     5     5.0    5.000    5
CUS_0x1009     5     5     5.0    5.000    5
CUS_0x100b     4     4     4.0    4.000    4
CUS_0x1011     3     3     3.0    3.000    3
CUS_0x1013     3     3     3.0    3.000    3
...          ...   ...     ...      ...  ...
CUS_0xff3      6  1168     6.0  195.875    6
CUS_0xff4      7     7     7.0    7.000    7
CUS_0xff6      6     6     6.0    6.000    6
CUS_0xffc      8     8     8.0    8.000    8
CUS_0xffd      7     7     7.0    7.000    7

[12500 rows x 5 columns]

Can't use min because there are some 0 values.

Can't use max ore mean because there are over thousands values.


Median and Mode seem to be the same. I will use Median in this case.

In [140]:
credit_info['Num_Credit_Card'] = credit_info.groupby(by=['Customer_ID'])['Num_Credit_Card'].transform('median')

In [141]:
credit_info['Num_Credit_Card'].describe()

count    100000.000000
mean          5.534640
std           2.066834
min           0.500000
25%           4.000000
50%           5.000000
75%           7.000000
max          11.000000
Name: Num_Credit_Card, dtype: float64

All done for Num Credit Card

# Interest Rate

In [142]:
credit_info['Interest_Rate'].describe()

count    100000.000000
mean         72.466040
std         466.422621
min           1.000000
25%           8.000000
50%          13.000000
75%          20.000000
max        5797.000000
Name: Interest_Rate, dtype: float64

There are values that have to be fixed: thousands

Check which stat method use to change those wrong values

In [143]:
credit_info.groupby(['Customer_ID'])['Interest_Rate'].agg(['min','max','median','mean',pd.Series.mode])

             min   max  median    mean  mode
Customer_ID
CUS_0x1000    27    27    27.0   27.00    27
CUS_0x1009    17    17    17.0   17.00    17
CUS_0x100b     1     1     1.0    1.00     1
CUS_0x1011    17    17    17.0   17.00    17
CUS_0x1013     6     6     6.0    6.00     6
...          ...   ...     ...     ...   ...
CUS_0xff3      2  3808     2.0  477.75     2
CUS_0xff4     14    14    14.0   14.00    14
CUS_0xff6      1     1     1.0    1.00     1
CUS_0xffc     27    27    27.0   27.00    27
CUS_0xffd     13    13    13.0   13.00    13

[12500 rows x 5 columns]

Can't use min because the Interest Rate could increased on the following month.

Can't use max ore mean because there are over thousands values.

Median and Mode seem to be the same. I will use Median in this case.

In [144]:
credit_info['Interest_Rate'] = credit_info.groupby(by=['Customer_ID'])['Interest_Rate'].transform('median')

In [145]:
credit_info['Interest_Rate'].describe()

count    100000.00000
mean         14.53208
std           8.74133
min           1.00000
25%           7.00000
50%          13.00000
75%          20.00000
max          34.00000
Name: Interest_Rate, dtype: float64

All done for Interest Rate

# Num of Loan

In [146]:
credit_info['Num_of_Loan'].describe()

count     100000
unique       434
top            3
freq       14386
Name: Num_of_Loan, dtype: object

In [147]:
credit_info['Num_of_Loan'].unique()

array(['4', '1', '3', '967', '-100', '0', '0_', '2', '3_', '2_', '7', '5',
       '5_', '6', '8', '8_', '9', '9_', '4_', '7_', '1_', '1464', '6_',
       '622', '352', '472', '1017', '945', '146', '563', '341', '444',
       '720', '1485', '49', '737', '1106', '466', '728', '313', '843',
       '597_', '617', '119', '663', '640', '92_', '1019', '501', '1302',
       '39', '716', '848', '931', '1214', '186', '424', '1001', '1110',
       '1152', '457', '1433', '1187', '52', '1480', '1047', '1035',
       '1347_', '33', '193', '699', '329', '1451', '484', '132', '649',
       '995', '545', '684', '1135', '1094', '1204', '654', '58', '348',
       '614', '1363', '323', '1406', '1348', '430', '153', '1461', '905',
       '1312', '1424', '1154', '95', '1353', '1228', '819', '1006', '795',
       '359', '1209', '590', '696', '1185_', '1465', '911', '1181', '70',
       '816', '1369', '143', '1416', '455', '55', '1096', '1474', '420',
       '1131', '904', '89', '1259', '527', '1241', '449', '983', '418',
       '319', '23', '238', '638', '138', '235_', '280', '1070', '1484',
       '274', '494', '1459_', '404', '1354', '1495', '1391', '601',
       '1313', '1319', '898', '231', '752', '174', '961', '1046', '834',
       '284', '438', '288', '1463', '1151', '719', '198', '1015', '855',
       '841', '392', '1444', '103', '1320_', '745', '172', '252', '630_',
       '241', '31', '405', '1217', '1030', '1257', '137', '157', '164',
       '1088', '1236', '777', '1048', '613', '330', '1439', '321', '661',
       '952', '939', '562', '1202', '302', '943', '394', '955', '1318',
       '936', '781', '100', '1329', '1365', '860', '217', '191', '32',
       '282', '351', '1387', '757', '416', '833', '359_', '292', '1225_',
       '1227', '639', '859', '243', '267', '510', '332', '996', '597',
       '311', '492', '820', '336', '123', '540', '131_', '1311_', '1441',
       '895', '891', '50', '940', '935', '596', '29', '1182', '1129_',
       '1014', '251', '365', '291', '1447', '742', '1085', '148', '462',
       '832', '881', '1225', '1412', '785_', '1127', '910', '538', '999',
       '733', '101', '237', '87', '659', '633', '387', '447', '629',
       '831', '1384', '773', '621', '1419', '289', '143_', '285', '1393',
       '1131_', '27_', '1359', '1482', '1189', '1294', '201', '579',
       '814', '141', '1320', '581', '1171_', '295', '290', '433', '679',
       '1040', '1054', '1430', '1023', '1077', '1457', '1150', '701',
       '1382', '889', '437', '372', '1222', '126', '1159', '868', '19',
       '1297', '227_', '190', '809', '1216', '1074', '571', '520', '1274',
       '1340', '991', '316', '697', '926', '873', '1002', '378_', '65',
       '875', '867', '548', '652', '1372', '606', '1036', '1300', '17',
       '1178', '802', '1219_', '1271', '1137', '1496', '439', '196',
       '636', '192', '228', '1053', '229', '753', '1296', '1371', '254',
       '863', '464', '515', '838', '1160', '1289', '1298', '799', '182',
       '574', '527_', '242', '415', '869', '958', '54', '1265', '656',
       '275', '778', '208', '147', '350', '507', '463', '497', '1129',
       '927', '653', '662', '529', '635', '1027_', '897', '1039', '227',
       '1345', '924', '696_', '1279', '546', '1112', '1210', '526', '300',
       '1103', '504', '136', '1400', '78', '686', '1091', '344', '215',
       '84', '628', '1470', '968', '1478', '83', '1196', '1307', '1132_',
       '1008', '917', '657', '56', '18', '41', '801', '978', '216', '349',
       '966'], dtype=object)

Fix the values that have "_"

In [148]:
credit_info['Num_of_Loan'] = credit_info['Num_of_Loan'].str.strip('_')

Convert to float

In [149]:
credit_info['Num_of_Loan'] = credit_info['Num_of_Loan'].astype('float')

In [150]:
credit_info['Num_of_Loan'].describe()

count    100000.000000
mean          3.009960
std          62.647879
min        -100.000000
25%           1.000000
50%           3.000000
75%           5.000000
max        1496.000000
Name: Num_of_Loan, dtype: float64

Convert negatives to Na

In [151]:
for i in credit_info['Num_of_Loan']:
  if i < 0:
    credit_info['Num_of_Loan'] = credit_info['Num_of_Loan'].replace(i, np.nan)

Check min, max, median, mean, mode for each customer to see which is the best stats to change Na's and 0s

In [152]:
credit_info.groupby(['Customer_ID'])['Num_of_Loan'].agg(['min','max','median','mean',pd.Series.mode])

             min     max  median    mean  mode
Customer_ID
CUS_0x1000   2.0     2.0     2.0    2.00   2.0
CUS_0x1009   4.0  1094.0     4.0  140.25   4.0
CUS_0x100b   0.0     0.0     0.0    0.00   0.0
CUS_0x1011   3.0     3.0     3.0    3.00   3.0
CUS_0x1013   3.0     3.0     3.0    3.00   3.0
...          ...     ...     ...     ...   ...
CUS_0xff3    3.0     3.0     3.0    3.00   3.0
CUS_0xff4    5.0     5.0     5.0    5.00   5.0
CUS_0xff6    2.0     2.0     2.0    2.00   2.0
CUS_0xffc    8.0     8.0     8.0    8.00   8.0
CUS_0xffd    6.0     6.0     6.0    6.00   6.0

[12500 rows x 5 columns]

I will use Mode for Na's and Median for the thousands values

In [153]:
credit_info['Num_of_Loan'] = credit_info.groupby('Customer_ID')['Num_of_Loan'].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

In [154]:
credit_info['Num_of_Loan'] = credit_info.groupby(by=['Customer_ID'])['Num_of_Loan'].transform('median')

In [155]:
credit_info['Num_of_Loan'].describe()

count    100000.000000
mean          3.532880
std           2.446356
min           0.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           9.000000
Name: Num_of_Loan, dtype: float64

All done with Num_of_Loan

# Type of Loan

In [156]:
credit_info['Type_of_Loan'].describe()

count             88592
unique             6260
top       Not Specified
freq               1408
Name: Type_of_Loan, dtype: object

In [157]:
credit_info['Type_of_Loan'].unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [158]:
credit_info['Type_of_Loan'].isna().sum()

11408

Fill Na's with 'Not Specified'

In [159]:
credit_info['Type_of_Loan'] = credit_info['Type_of_Loan'].fillna('Not Specified')

In [160]:
credit_info['Type_of_Loan'].isna().sum()

0

Convert to list values

In [161]:
credit_info_test = credit_info

In [162]:
#for i in credit_info_test['Type_of_Loan']:
 # replacement = map(lambda x:x.strip(), i.replace('and','').split(','))
  #credit_info_test['Type_of_Loan'] = credit_info_test['Type_of_Loan'].replace(i, replacement)

In [163]:
# Not sure how to change each value to list value

# Delay from due date

In [164]:
credit_info['Delay_from_due_date'].describe()

count    100000.000000
mean         21.068780
std          14.860104
min          -5.000000
25%          10.000000
50%          18.000000
75%          28.000000
max          67.000000
Name: Delay_from_due_date, dtype: float64

In [165]:
# Negatives values could mean as number of days paid in advance
# Not sure if I have to delete them

In [166]:
credit_info.groupby(['Customer_ID'])['Delay_from_due_date'].agg(['min','max','median','mean',pd.Series.mode])

             min  max  median    mean mode
Customer_ID
CUS_0x1000    57   67    62.0  62.250   62
CUS_0x1009     3   10     8.0   7.250    8
CUS_0x100b     9   19    14.0  13.500   14
CUS_0x1011    27   29    27.0  27.250   27
CUS_0x1013    12   16    12.0  12.500   12
...          ...  ...     ...     ...  ...
CUS_0xff3      9   14    13.0  12.250   13
CUS_0xff4     15   16    16.0  15.875   16
CUS_0xff6     -4    1     1.0  -0.125    1
CUS_0xffc     41   46    46.0  45.375   46
CUS_0xffd     19   25    23.0  23.000   23

[12500 rows x 5 columns]

In [167]:
# Diferent values for each customer
# Change the values to the median or leave it because each entry of each customer is in a different month?

There are different values for each customer. 

I will use the median to change the values.

In [168]:
# credit_info['Delay_from_due_date'] = credit_info.groupby(by=['Customer_ID'])['Delay_from_due_date'].transform('median')

In [169]:
# credit_info[['Customer_ID','Delay_from_due_date']][credit_info['Delay_from_due_date'] < 0]

In [170]:
# print(credit_info[['Customer_ID']][credit_info['Delay_from_due_date'] < 0].count())
# print()
# credit_info[['Customer_ID']][credit_info['Delay_from_due_date'] < 0].groupby('Customer_ID').Customer_ID.count()

# Num of Delayed Payment

In [171]:
credit_info['Num_of_Delayed_Payment'].describe()

count     92998
unique      749
top          19
freq       5327
Name: Num_of_Delayed_Payment, dtype: object

In [172]:
credit_info['Num_of_Delayed_Payment'].unique()

array(['7', nan, '4', '8_', '6', '1', '-1', '3_', '0', '8', '5', '3', '9',
       '12', '15', '17', '10', '2', '2_', '11', '14', '20', '22', '13',
       '13_', '14_', '16', '12_', '18', '19', '23', '24', '21', '3318',
       '3083', '22_', '1338', '4_', '26', '11_', '3104', '21_', '25',
       '10_', '183_', '9_', '1106', '834', '19_', '24_', '17_', '23_',
       '2672', '20_', '2008', '-3', '538', '6_', '1_', '16_', '27', '-2',
       '3478', '2420', '15_', '707', '708', '26_', '18_', '3815', '28',
       '5_', '1867', '2250', '1463', '25_', '7_', '4126', '2882', '1941',
       '2655', '2628', '132', '3069', '306', '0_', '3539', '3684', '1823',
       '4128', '1946', '827', '2297', '2566', '904', '182', '929', '3568',
       '2503', '1552', '2812', '1697', '3764', '851', '3905', '923', '88',
       '1668', '3253', '808', '2689', '3858', '642', '3457', '1402',
       '1732', '3154', '847', '3037', '2204', '3103', '1063', '2056',
       '1282', '1841', '2569_', '211', '793', '3484', '411', '3491',
       '2072', '3050', '1049', '2162', '3402', '2753', '27_', '1718',
       '1014', '3260', '3855', '84', '2311', '3251', '1832', '4069',
       '3010', '733', '4241', '166', '2461', '1749', '3200', '663_',
       '2185', '4161', '3009', '359', '2015', '1523', '594', '1079',
       '1199', '186', '1015', '1989', '281', '559', '2165', '1509',
       '3545', '779', '192', '4311', '-2_', '2323', '1471', '1538',
       '3529', '439', '3456', '3040', '2697', '3179', '1332', '3175',
       '3112', '829', '4022', '3870', '4023', '531', '1511', '3092',
       '3191', '2400', '3621', '3536', '544', '1864', '28_', '142',
       '2300', '264', '72', '497', '398', '2222', '3960', '1473', '3043',
       '4216', '2903', '2658', '-1_', '4042', '1323_', '2184', '921',
       '1328', '3404', '2438', '809', '47', '1996', '4164', '1370',
       '1204', '2167', '4011', '2590', '2594', '2533', '1663', '1018',
       '2919', '3458', '3316', '2589', '2801', '3355', '2529', '2488',
       '4266', '1243', '739', '845', '4107', '1884', '337', '2660', '290',
       '674', '2450', '3738', '1792', '2823', '2570', '775', '960', '482',
       '1706', '2493', '3623', '3031', '2794_', '2219_', '758_', '1849',
       '3559', '4096', '3726', '1953', '2657', '4043', '2938', '4384',
       '1647', '2694', '3533', '519', '2677', '2413', '-3_', '4139',
       '2609', '4326', '4211', '823', '3011', '1608', '2860', '4219',
       '4047', '1531', '742', '52', '4024', '1673', '49', '2243', '1685',
       '1869', '2587', '3489', '749', '1164', '2616', '848_', '4134',
       '1530', '1502', '4075', '3845', '1060', '2573', '2128', '328',
       '640', '2585', '2230', '1795', '1180', '1534', '3739', '3313',
       '4191', '996', '372', '3340', '3177', '602', '787', '4135', '3878',
       '4059', '1218', '4051', '1766', '1359', '3107', '585', '1263',
       '2511', '709', '3632', '4077', '2943', '2793', '3245', '2317',
       '1640', '2237_', '3819', '252', '3978', '1498', '1833', '2737',
       '1192', '1481', '700', '271', '2286', '273', '1215', '3944',
       '2070', '1478', '3749', '871', '2508', '2959', '130', '294',
       '3097_', '3511', '415', '2196', '2138', '2149', '1874', '1553',
       '3847', '3222', '1222', '2907', '3051', '98', '1598', '416',
       '2314', '2955', '1691', '1450', '2021', '1636', '80', '3708',
       '195', '320', '2945', '1911', '3416', '3796', '4159', '2255',
       '938', '4397', '3776', '2148', '1994', '853', '1178', '1633',
       '196', '3864', '714', '1687', '1034', '468', '1337', '2044',
       '1541', '3661', '1211', '2645', '2007', '102', '1891', '3162',
       '3142', '2566_', '2766', '3881', '2728', '2671', '1952', '3580',
       '2705', '4251', '3840_', '972', '3119', '3502', '4185', '2954',
       '683', '1614', '1572', '4302', '3447', '1852', '2131', '1900',
       '1699', '133', '2018', '2127', '508', '210', '577', '1664', '2604',
       '1411', '2351', '867', '1371', '2352', '1191', '905', '4053',
       '3869', '933', '3660', '3300', '3629', '3208', '2142', '2521',
       '450', '583', '876', '121', '3919', '2560', '2578', '2060', '813',
       '1236', '1489', '4360', '1154', '2544', '4172', '2924', '426',
       '4270', '2768', '3909', '3951', '2712', '2498', '3171', '1750',
       '197', '2569', '265', '4293', '887', '2707', '2397', '4337',
       '4249', '2751', '2950', '1859', '107', '2348', '2506', '2810',
       '2873', '1301', '2262', '1890', '3078', '3865', '3268', '2777',
       '3105', '1278', '3793', '2276', '2879', '4298', '2141', '223',
       '2239', '846', '1862', '2756', '1181', '1184', '2617', '3972',
       '2334', '3900', '2759', '4169', '2280', '2492', '2729', '3750',
       '1825', '309', '2431', '3099', '2080', '2279', '2666', '3722',
       '1976', '529', '1985', '3060', '4278', '3212', '46', '3148',
       '3467', '4231', '3790', '473', '1536', '3955', '2324', '2381',
       '1177', '371', '2896', '3880', '2991', '4319', '1061', '662',
       '4144', '693', '2006', '3115', '2278_', '3751', '1861', '4262',
       '2913', '2615', '3492', '800', '3766', '384', '3407', '1087',
       '3329', '1086', '2216', '1087_', '2457', '3522', '3274', '3488',
       '2854', '238', '351', '3706', '4280', '4095', '2926', '1329',
       '3370', '283', '1392', '1743', '2429', '974', '3156', '1133',
       '4388', '3243', '4282', '2523', '4281', '3415', '2001', '441',
       '94', '3499', '969', '3368', '106', '1004', '2638', '3946', '2956',
       '4324', '85', '4113', '819', '615', '1172', '2553', '1765', '3495',
       '2820', '4239', '4340', '1295_', '2636', '4295', '1653', '1325',
       '1879', '1096', '1735', '3584', '1073', '1975', '3827', '2552',
       '3754', '2378', '532', '926', '2376', '3636', '3763', '778',
       '2621', '804', '754', '2418', '4019', '3926', '3861_', '3574',
       '175', '162', '2834', '3765', '2354', '523', '2274', '1606',
       '1443', '1354', '2142_', '1422', '2278', '1045', '4106', '3155',
       '666', '659', '3229', '1216', '2076', '1473_', '2384', '1954',
       '719', '2534', '4002', '541', '2875', '4344', '2081', '3894',
       '1256', '676', '4178', '399', '86', '1571', '4037', '1967', '4005',
       '3216', '1150', '2591', '1801', '3721', '1775', '2260', '3707',
       '4292', '1820', '145', '1480', '1850', '430', '217', '3920_',
       '1389', '1579', '3391', '2385', '3336', '3392', '3688', '221',
       '2047'], dtype=object)

In [173]:
credit_info[['Customer_ID','Num_of_Delayed_Payment']].head(24)

       Customer_ID Num_of_Delayed_Payment
ID
0x1602   CUS_0xd40                      7
0x1603   CUS_0xd40                    NaN
0x1604   CUS_0xd40                      7
0x1605   CUS_0xd40                      4
0x1606   CUS_0xd40                    NaN
0x1607   CUS_0xd40                      4
0x1608   CUS_0xd40                     8_
0x1609   CUS_0xd40                      6
0x160e  CUS_0x21b1                      4
0x160f  CUS_0x21b1                      1
0x1610  CUS_0x21b1                     -1
0x1611  CUS_0x21b1                     3_
0x1612  CUS_0x21b1                      1
0x1613  CUS_0x21b1                      0
0x1614  CUS_0x21b1                      4
0x1615  CUS_0x21b1                      4
0x161a  CUS_0x2dbc                      8
0x161b  CUS_0x2dbc                      6
0x161c  CUS_0x2dbc                      7
0x161d  CUS_0x2dbc                      5
0x161e  CUS_0x2dbc                      5
0x161f  CUS_0x2dbc                      6
0x1620  CUS_0x2dbc                      6
0x1621  CUS_0x2dbc                      6

There are "_",  negatives, and Na values

First: fix the values that have "_"

In [174]:
credit_info['Num_of_Delayed_Payment'] = credit_info['Num_of_Delayed_Payment'].str.strip('_')

Second: change negatives values to Na's

In [176]:
credit_info['Num_of_Delayed_Payment'] = credit_info['Num_of_Delayed_Payment'].astype('float')

In [177]:
for i in credit_info['Num_of_Delayed_Payment']:
  if i < 0:
    credit_info['Num_of_Delayed_Payment'] = credit_info['Num_of_Delayed_Payment'].replace(i, np.nan)

Third: change Na values

In [178]:
credit_info.groupby(['Customer_ID'])['Num_of_Delayed_Payment'].agg(['min','max','median','mean',pd.Series.mode])

              min     max  median        mean          mode
Customer_ID
CUS_0x1000   23.0    28.0    25.0   25.000000          25.0
CUS_0x1009   16.0  1749.0    18.0  234.250000          18.0
CUS_0x100b    7.0     9.0     7.0    7.375000           7.0
CUS_0x1011   12.0    17.0    15.0   14.500000          15.0
CUS_0x1013    7.0     9.0     9.0    8.428571           9.0
...           ...     ...     ...         ...           ...
CUS_0xff3     6.0    11.0     9.0    8.625000           9.0
CUS_0xff4    10.0    14.0    13.0   12.125000  [10.0, 13.0]
CUS_0xff6     2.0     7.0     4.0    4.000000           4.0
CUS_0xffc    14.0    19.0    16.0   16.250000          16.0
CUS_0xffd     9.0    12.0    12.0   11.428571          12.0

[12500 rows x 5 columns]

I will use Median. There are Mode values that are lists.

In [179]:
credit_info['Num_of_Delayed_Payment'] = credit_info.groupby(by=['Customer_ID'])['Num_of_Delayed_Payment'].transform('median')

In [180]:
credit_info['Num_of_Delayed_Payment'].describe()

count    100000.000000
mean         13.320960
std           6.182172
min           0.000000
25%           9.000000
50%          14.000000
75%          18.000000
max          26.500000
Name: Num_of_Delayed_Payment, dtype: float64

All done with Num of Delayed Payment

# Changed Credit Limit

In [181]:
credit_info['Changed_Credit_Limit'].describe()

count     100000
unique      3635
top            _
freq        2091
Name: Changed_Credit_Limit, dtype: object

In [182]:
credit_info['Changed_Credit_Limit'].unique()

array(['11.27', '_', '6.27', ..., '27.38', '25.16', '21.17'], dtype=object)

Delete "_" values

In [183]:
credit_info['Changed_Credit_Limit'] = credit_info['Changed_Credit_Limit'].str.strip('_')

In [184]:
credit_info['Changed_Credit_Limit'].unique()

array(['11.27', '', '6.27', ..., '27.38', '25.16', '21.17'], dtype=object)

Change empty values for Nas

In [185]:
for i in credit_info['Changed_Credit_Limit']:
  if i == '':
    credit_info['Changed_Credit_Limit'] = credit_info['Changed_Credit_Limit'].replace(i, np.nan)

Convert Changed_Credit_Limit type to float

In [186]:
credit_info['Changed_Credit_Limit'] = credit_info['Changed_Credit_Limit'].astype('float')

In [187]:
credit_info['Changed_Credit_Limit'].describe()

count    97909.000000
mean        10.389025
std          6.789496
min         -6.490000
25%          5.320000
50%          9.400000
75%         14.870000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

Change negatives for Nas

In [188]:
for i in credit_info['Changed_Credit_Limit']:
  if i < 0:
    credit_info['Changed_Credit_Limit'] = credit_info['Changed_Credit_Limit'].replace(i, np.nan)

Check which stat use to replace the Nas

In [189]:
credit_info.groupby(['Customer_ID'])['Changed_Credit_Limit'].agg(['min','max','median','mean',pd.Series.mode])

               min    max  median       mean   mode
Customer_ID
CUS_0x1000    1.63   2.63    1.63   1.880000   1.63
CUS_0x1009    9.73   9.73    9.73   9.730000   9.73
CUS_0x100b    8.34  11.34   11.34  10.911429  11.34
CUS_0x1011   13.42  14.42   14.42  14.170000  14.42
CUS_0x1013    1.33   4.33    1.33   1.705000   1.33
...            ...    ...     ...        ...    ...
CUS_0xff3     6.86  13.86    6.86   8.485000   6.86
CUS_0xff4     7.83  10.83    7.83   8.205000   7.83
CUS_0xff6    10.40  16.40   10.40  11.900000   10.4
CUS_0xffc     5.82  12.82    8.82   8.820000   8.82
CUS_0xffd    10.07  12.07   10.07  10.320000  10.07

[12500 rows x 5 columns]

Change Nas with Mode

In [190]:
credit_info['Changed_Credit_Limit'] = credit_info.groupby('Customer_ID')['Changed_Credit_Limit'].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

Check if all Nas where fixed

In [191]:
credit_info['Changed_Credit_Limit'].describe()

count    99982.000000
mean        10.473497
std          6.657536
min          0.000000
25%          5.370000
50%          9.400000
75%         14.850000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

In [192]:
credit_info['Changed_Credit_Limit'].isna().sum()

18

There 18 that have not been fixed because all their values were negatives before converting them to Na.

I will change them to 0

In [193]:
credit_info['Changed_Credit_Limit'] = credit_info['Changed_Credit_Limit'].fillna(0)

Check if all Nas where fixed

In [194]:
credit_info['Changed_Credit_Limit'].describe()

count    100000.000000
mean         10.471612
std           6.658419
min           0.000000
25%           5.370000
50%           9.400000
75%          14.850000
max          36.970000
Name: Changed_Credit_Limit, dtype: float64

All done with Changed Credit Limit

# Num Credit Inquiries

In [195]:
credit_info['Num_Credit_Inquiries'].describe()

count    98035.000000
mean        27.754251
std        193.177339
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64

There are outliers

Check which stat use to replace the outliers

In [196]:
credit_info.groupby(['Customer_ID'])['Num_Credit_Inquiries'].agg(['min','max','median','mean',pd.Series.mode])

              min     max  median        mean        mode
Customer_ID
CUS_0x1000   10.0    11.0    11.0   10.875000        11.0
CUS_0x1009    2.0     4.0     3.0    3.000000  [2.0, 4.0]
CUS_0x100b    1.0  2271.0     1.0  285.500000         1.0
CUS_0x1011    7.0  1965.0     7.0  251.750000         7.0
CUS_0x1013    3.0     3.0     3.0    3.000000         3.0
...           ...     ...     ...         ...         ...
CUS_0xff3     3.0     5.0     5.0    4.250000         5.0
CUS_0xff4     5.0     5.0     5.0    5.000000         5.0
CUS_0xff6     2.0     2.0     2.0    2.000000         2.0
CUS_0xffc     8.0    13.0    13.0   12.375000        13.0
CUS_0xffd     7.0  1801.0     7.0  263.285714         7.0

[12500 rows x 5 columns]

I will use Median

In [197]:
credit_info['Num_Credit_Inquiries'] = credit_info.groupby('Customer_ID')['Num_Credit_Inquiries'].transform('median')

Check if issues were fixed

In [198]:
credit_info['Num_Credit_Inquiries'].describe()

count    100000.000000
mean          5.794600
std           3.831618
min           0.000000
25%           3.000000
50%           5.000000
75%           8.500000
max          17.000000
Name: Num_Credit_Inquiries, dtype: float64

All done with Num Credit Inquiries

# Credit Mix

In [199]:
credit_info['Credit_Mix'].describe()

count       100000
unique           4
top       Standard
freq         36479
Name: Credit_Mix, dtype: object

In [200]:
credit_info['Credit_Mix'].unique()

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)

In [201]:
credit_info['Credit_Mix'][credit_info['Credit_Mix'] == '_'].count()

20195

There a incorrect value '_'

I am going to change it to Na

In [202]:
for i in credit_info['Credit_Mix']:
  if i == '_':
    credit_info['Credit_Mix'] = credit_info['Credit_Mix'].replace(i, np.nan)

Now I will replace it for the Mode

In [203]:
credit_info_test['Credit_Mix'] = credit_info_test.groupby('Customer_ID')['Credit_Mix'].transform(lambda x: x.fillna(stats.mode(x)[0][0]))

In [204]:
credit_info['Credit_Mix'].unique()

array(['Good', 'Standard', 'Bad'], dtype=object)

In [205]:
credit_info['Credit_Mix'].isna().sum()

0

All done with Credit Mix